.header {
    padding: 8%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-image {
    height: 300px;
}

.main-header {
    margin-bottom: 10%;
    font-size: 2.5rem;
}

