body {font-family: 'Open Sans', sans-serif;}

.section-header-price {
    text-transform: lowercase;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    font-weight: 600;
}

h3 {
    color: rgba(0, 0, 0, 0.6);
}


.order-header {
    font-weight: 700;
}

.final-price {
    font-weight: 700;
}

.final-price-header {
    margin-top: 30px;
    padding-left: 30px;
}


footer {
    padding: 5px 0; 
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    background: rgb(250,190,88);
}