@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_typography.scss";
@import "partials/_header.scss";
@import "partials/_footer.scss";

* {
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    text-transform: uppercase;
    background: grey;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

section {
    // height: 100vh;
    // background: white;
}

h2, h3 {
    text-align: center;
}

.section-header {
    padding: 10%;
}

.section-body {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

// REPEATED PROPERTIES //

.contents {
    flex-basis: 30%;
    background: lightgrey;
    height: 300px;
}

.contents input[type=checkbox] {
    display: none;
}

.contents:hover {
    cursor: pointer;
}

.icon {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;   
}

.icon:hover {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s;
}


// SECTION - pizza size //

.pizza-size-contents input[type=radio] {
    display: none;
}



.small-pizza {background: url("assets/small-pizza-grayscale.svg");}
.small-pizza:hover {background: url("assets/small-pizza-color.svg");}

.medium-pizza {background: url("assets/medium-pizza-grayscale.svg");}
.medium-pizza:hover {background: url("assets/medium-pizza-color.svg");}

.large-pizza {background: url("assets/large-pizza-grayscale.svg");}
.large-pizza:hover {background: url("assets/large-pizza-color.svg");}



// SECTION - cheese toppings// 

.feta-cheese {background: url("assets/feta-grayscale.svg");}
.feta-cheese:hover {background: url("assets/feta-color.svg");}

.mozzarella-cheese {background: url("assets/mozzarella-grayscale.svg");}
.mozzarella-cheese:hover {background: url("assets/mozzarella-color.svg");}

.parmesan-cheese {background: url("assets/parmesan-grayscale.svg");}
.parmesan-cheese:hover {background: url("assets/parmesan-color.svg");}



// SECTION -  vegetables // 

.pizza-vegetables {
    flex-wrap: wrap;
}

.vegetables-contents {
    margin-bottom: 3%
}

.vegetables-artichokes {background: url("assets/artichokes-grayscale.svg");}
.vegetables-artichokes:hover {background: url("assets/artichokes-color.svg");}

.vegetables-broccoli {background: url("assets/broccoli-grayscale.svg");}
.vegetables-broccoli:hover {background: url("assets/broccoli-color.svg");}

.vegetables-mushrooms {background: url("assets/mushrooms-grayscale.svg");}
.vegetables-mushrooms:hover {background: url("assets/mushrooms-color.svg");}

.vegetables-olives {background: url("assets/olives-grayscale.svg");}
.vegetables-olives:hover {background: url("assets/olives-color.svg");}

.vegetables-pineapple {background: url("assets/pineapple-grayscale.svg")}
.vegetables-pineapple:hover {background: url("assets/pineapple-color.svg")}

.vegetables-tomatoes {background: url("assets/tomatoes-grayscale.svg");}
.vegetables-tomatoes:hover {background: url("assets/tomatoes-color.svg");}


// SECTION - MEAT //


.meat-bacon {background: url("assets/bacon-grayscale.svg")}
.meat-bacon:hover {background: url("assets/bacon-color.svg")}

.meat-chicken {background: url("assets/chicken-grayscale.svg")}
.meat-chicken:hover {background: url("assets/chicken-color.svg")}

.meat-pepperoni {background: url("assets/pepperoni-grayscale.svg")}
.meat-pepperoni:hover {background: url("assets/pepperoni-color.svg")}


