@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_typography.scss";
@import "partials/_header.scss";
@import "partials/_footer.scss";

* {
    margin: 0;
    padding: 0;
    overflow: auto;
    background: lightgrey;
}

.wrapper {
    max-width: 1141px;
    margin: 0 auto;
    position: relative;
}

section {
    height: 100vh;
}

fieldset {
    border: 0;
    padding: 0;
    display: flex;
}

.pizza-size {
    display: flex;
}

.pizza-size-contents {
    flex: 1 0 30%
} 